@model ContosoUniversity.ViewModels.Courses.CoursesListViewModel

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Select Department: @Html.DropDownList("DepartmentFilter", Model.DepartmentSelectList, "All")
        <input type="submit" value="Filter" class="btn btn-default" />
    </p>
}

@{ 
    var course = Model.Courses.FirstOrDefault();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => course.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => course.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => course.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => course.DepartmentName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model.Courses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.ActionLink("Edit",    "Edit",    new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete",  "Delete",  new { id = item.Id })
        </td>
    </tr>
}

</table>
