@model ContosoUniversity.ViewModels.Students.StudentsListViewModel

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", Model.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = Model.NameSortParm, currentFilter = Model.CurrentFilter })
        </th>
        <th>First Name</th>
        <th>
            @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = Model.DateSortParm, currentFilter = Model.CurrentFilter })
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model.StudentsList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Edit",    "Edit",    new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete",  "Delete",  new { id = item.Id })
        </td>
    </tr>
}
</table>

<br />
@Model.PagesLegendText

@Html.PagedListPager(Model.StudentsList,
                     page => Url.Action("Index",
                                        new
                                        {
                                            page,
                                            sortOrder = Model.CurrentSort,
                                            currentFilter = Model.CurrentFilter
                                        }))
