@model ContosoUniversity.ViewModels.Instructors.InstructorsListViewModel

@{
    ViewBag.Title = "Instructors";
}

<h2>@Html.DisplayNameFor(model => Model)</h2>
<p>@Html.ActionLink("Create New", "Create")</p>

@Html.Action("InstructorsWidget", new
{
    courseId = Model.CourseId,
    instructorId = Model.InstructorId
})

@if (Model.ShowCoursesWidget)
{
    <h3>@Html.DisplayNameFor(model => Model.ShowCoursesWidget)</h3>
    @Html.Action("CoursesWidget", new
    {
        courseId = Model.CourseId,
        instructorId = Model.InstructorId
    })
}

@if (Model.ShowEnrollmentsWidget)
{
    <h3>@Html.DisplayNameFor(model => Model.ShowEnrollmentsWidget)</h3>
    @Html.Action("EnrollmentsWidget", new
    {
        courseId = Model.CourseId
    })
}