@model ContosoUniversity.ViewModels.Instructors.InstructorsListViewModel

@{
    ViewBag.Title = "Instructors";
}

<h2>@Html.DisplayNameFor(model => Model.InstructorsWidget)</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.InstructorsWidget != null)
{
    @Html.Partial("Partials/InstructorsWidget", Model.InstructorsWidget)
}

@if (Model.CoursesWidget != null)
{
    <h3>@Html.DisplayNameFor(model => Model.CoursesWidget)</h3>
    @Html.Partial("Partials/CoursesWidget", Model.CoursesWidget)
}

@if (Model.EnrollmentsWidget != null)
{
    <h3>@Html.DisplayNameFor(model => Model.EnrollmentsWidget)</h3>
    @Html.Partial("Partials/EnrollmentsWidget", Model.EnrollmentsWidget)
}